// flex
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

// dimensions
.w-100 {
  width: 100%;
}

.min-h-100vh {
  min-height: 100vh;
}