PORT=3002
REDIS_HOST=""
REDIS_PASSWORD=""
REDIS_PORT=6379
QUEUE_NAME=hospital_events

CARDIOLOGY_SERVICE_URL=http://localhost:3003
CLINIC_RECORD_SERVICE_URL=http://localhost:3004

# Configuración para DBLINK al servicio de autenticación (Usuario DB)
AUTH_DB_DBLINK_HOST=localhost
AUTH_DB_DBLINK_PORT=5432
AUTH_DB_DBLINK_DBNAME=
AUTH_DB_DBLINK_USER=
AUTH_DB_DBLINK_PASSWORD=