PORT=3004
DATABASE_URL="postgresql://wally:wally@localhost:5432/Azure?schema=public"
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=6379
QUEUE_NAME=hospital_events

# Configuración para DBLINK al servicio de autenticación (Usuario DB)
AUTH_DB_DBLINK_HOST=localhost
AUTH_DB_DBLINK_PORT=5432
AUTH_DB_DBLINK_DBNAME=usuarios
AUTH_DB_DBLINK_USER=wally
AUTH_DB_DBLINK_PASSWORD=wally