# Port for the API Gateway
PORT=3000

# The same secret used by the auth-service to sign tokens
JWT_SECRET="DijZrqlGBZ"

# URLs for internal microservices
AUTH_SERVICE_URL="http://localhost:3001"
ROLES_SERVICE_URL="http://localhost:3002"
CARDIOLOGY_SERVICE_URL="http://localhost:3003"
CLINIC_RECORD_SERVICE_URL="http://localhost:3004"

# PATIENTS_SERVICE_URL="http://localhost:3002"
# APPOINTMENTS_SERVICE_URL="http://localhost:3003"