# Port for the API Gateway
PORT=

# The same secret used by the auth-service to sign tokens
JWT_SECRET=

# URLs for internal microservices
# AUTH_SERVICE_URL="http://localhost:3001"
# PATIENTS_SERVICE_URL="http://localhost:3002"
# APPOINTMENTS_SERVICE_URL="http://localhost:3003"